
.desktop.static
  background white
  //max-width 1440px
  //margin 0 auto
  min-width 960px

  //.toolbar
  //  display none

  //.widget
    //height auto

  .ql-editor>*
    cursor default

  .vue-grid-layout
    background #eee

  .vue-grid-item
    background white
    border 1px solid #999

.desktop.static.baas
  background white

  min-width 960px

  .toolbar
    display none

  .widget
    height 100%
    overflow hidden

  .vue-grid-layout
    background #fff

  .vue-grid-item
    background white
    border none


