.site.wbif
  .v-btn.v-btn--large.v-btn--round
    height 40px
    font-size 16px

  .v-btn.v-btn--tiny
    font-size 10px
    height 14px
    padding 2px 4px
    text-transform uppercase
    margin 0
    .v-btn__content
      opacity 0.8
      font-family Rubik
      font-size 8px
      font-weight 500
      font-style normal
      font-stretch normal
      line-height 1.5
      letter-spacing 0.6px
      color #ffffff

  .v-input.v-text-field
    .v-text-field__suffix
      left 4px
      opacity 0.3
      font-family Rubik
      font-size 20px
      font-weight 500
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing normal
      color #524f5f

    .v-text-field__slot
      align-items center

      input
        margin-top 0 !important

  .v-input.v-input--range-slider
    .v-input__control
      min-height 30px

  .v-input.v-input--slider
    .v-input__control
      min-height 30px

  .v-input.v-input--checkbox
    .v-input__slot
      padding 0
    .v-input__control
      min-height 24px

  .v-input
    .v-input__icon .v-icon
      font-size 16px
      font-weight 800
      color #524f5f !important

    .v-input__control
      min-height 40px

    .v-input__slot
      border-radius 3px
    .v-list__tile__title
    .v-select__selections
    .v-select__selection
      font-family Rubik
      font-size 14px
      font-weight normal
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing normal
      color #524f5f

    label.v-label
      opacity 0.5
      font-family Rubik
      font-size 16px
      font-weight normal
      font-style normal
      font-stretch normal
      line-height normal
      letter-spacing normal
      color #524f5f

  .theme--dark.site-toolbar.v-toolbar
    background-color #232129
    .v-toolbar__content
      paddinf 0 16px
    .main-menu .main-menu__item
      padding 0 32px
      .v-btn__content
        font-weight normal

  .v-navigation-drawer.main-navigation-drawer
    background-image linear-gradient(358deg, #8a8798, #524f5f)
    box-shadow 0 8px 16px 0 rgba(82, 79, 95, 0.45)
    margin-top 64px !important
    height calc( 100% - 64px) !important

    .v-list
      background transparent !important

      //.v-navigation-drawer--mini-variant .v-list__tile__action
      //.v-navigation-drawer--mini-variant .v-list__tile__avatar
      //  min-width 28px

    .main-drawer-toolbar
      .v-list__tile__title
      .v-btn__content
        opacity 0.7
        font-family Rubik
        font-size 12px
        font-weight 500
      .v-list__tile__avatar
      .v-list__tile__action
        min-width 48px !important
        justify-content center !important

      .main-drawer-toolbar__profile-name
        text-transform capitalize

      .v-btn.v-btn--floating.v-btn--icon
        background-color #4a4757

  .v-stepper--alt-labels .v-stepper__header .v-divider
    border-width 2px
  .v-stepper--alt-labels .v-stepper__header .v-divider.done
    border-color #0f7acd

  .v-stepper__label
    opacity 0.8
    font-family Rubik
    font-size 10px
    font-weight 500
    font-style normal
    font-stretch normal
    line-height 1.2
    letter-spacing normal
    color #514e5e

  .theme--light.v-stepper .v-stepper__step--complete .v-stepper__label
    opacity 0.8
    font-family Rubik
    font-size 12px
    font-weight 500
    font-style normal
    font-stretch normal
    line-height 1
    letter-spacing normal
    color #0f7acd

  .v-tabs
    &__container
      padding 10px 10px 0 10px
      height 58px

    &__div
      height auto
      max-width none

    &__item
      border-radius 6px 6px 0 0
      padding 6px 18px

  .theme--dark .v-tabs__item--active
    background-color white
    color black
    .v-icon
      color #0f7acd

  .v-list__tile__avatar
    margin-top 0 !important

  .v-messages
    min-height 0 !important

  .v-text-field > .v-input__control > .v-input__slot:before
    border-width 2px 0 0 0

  .accent--text
    color #0f7acd !important
    caret-color #0f7acd !important

  .v-input--is-label-active .v-label
      opacity 1 !important

  .v-input--radio-group--row
    .v-radio
      margin-bottom 4px !important

  .v-tooltip
    cursor pointer

  .v-datatable thead th.column.sortable .v-tooltip i
    opacity 1
